<!DOCTYPE html>
<html>
<head>
    <title>Registered Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Registered Students</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Course</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.course }}</td>
    </tr>
    {% endfor %}

</table>

<br>
<a href="/">← Back to Form</a>

</body>
</html>